<!DOCTYPE html>
<html lang="en" ng-app="beerApp">

<head>
    <meta charset="UTF-8">
    <title>Beer App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://opensource.keycdn.com/angularjs/1.6.2/angular.min.js "></script>

    <style type="text/css">
    	

    	.beer_description{
    		
    	}
    	.show{

    	}

    </style>
</head>

<body>
    <div class="container" ng-controller='searchBeerController'>
        {{2+2}}
        <div class="col-md-8 col-md-offset-2 ">
            <div class="row">
                <form role="form" ng-submit="searchBeer($event)">
                    <h1 class="text-center">SEARCH FOR YOUR FAVORITE BEER 🍻🍻</h1>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="text" name="search" placeholder="Search" required ng-model="beerQuery" />
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    <span>Search</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="jumbotron">
                    <select class="input-lg" ng-model="idbeersfound" ng-change="beerSelection()">
                        <option ng-repeat="beer in beers" value="{{beer.id}}">{{ beer.name }}</option>
                    </select>
                </div>
                <div class="jumbotron beer_description" ng-style="show"  >
                    <h2>Beer Description</h2>
                    <h3>{{name}}</h3>
                    <p> {{description}}</p>
                        <img ng-src="{{label}}">
                </div>

            </div>
        </div>
        <script type="text/javascript"></script>
        <script src="js/app.js"></script>
        <script src="js/searchBeerController.js"></script>
        <script src="js/service.js"></script>
</body>

</html>
